body{
min-height: 100%;
min-width: 980px;
}
.upprght {
	height: 69px;
	margin-top: 25px;
	padding-right: 30px;
	position: relative;
}
.top {
	margin: 0;
	float: right;
	font-family: Arial;
	font-size: 13px;
	word-spacing: 10px;
	color: #696969;
}
li {
	display: inline;
}
.top a:link {
		text-decoration: none;
		color: #696969;
}
.top a:visited {
	color: #696969;
}
.nine {
position: relative;
width: 30px;
height: 30px;
overflow: hidden;
top: -21px;
left: 100px;
margin-right: 180px;

}
.squares{
position: absolute;
left: -450%;
top: -130%;
}
.sign_in {
position: relative;
top: -53px;
left: 140px;
background: #4285f4;
border: 1px solid #4285f4;
font-weight: bold;
height: 30px;
width: 69px;
text-align: center;
border-radius: 2px;
}
#sign{
position: relative;
top: 8px;
color: #fff;
word-spacing: 1px;
}
.center {
	display: block;
	text-align: -webkit-center;
	width: 100%;
}
.google {
	display: block;
	position: relative;
	height 200px;
	width: 450px;
}
.search {
	display: block;
	position: absolute;
	top: 361px;
	left: 90px;		
	
}
.box {
	display: block;
	border: 1px;
	background-color: #fff;
	width: 484px;
	height: 44px;
	margin: -125px;
	border-radius: 2px;
	box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.16), 0 0 0 1px rgba(0, 0, 0, 0.08);
}
.box:hover{
box-shadow: 0 3px 8px 0 rgba(0, 0, 0, 0.2), 0 0 0 1px rgba(0, 0, 0, 0.08);
}
.buttons {
	position: relative;
	top: 100px;
}
.button1:hover {
	color: #222;
	border: 1px solid #c6c6c6;
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
}
.button2:hover {
	color: #222;
	border: 1px solid #c6c6c6;
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
}
.button1, .button2 {
	background-color: #f2f2f2;
	font-family: Arial;
	color: #696969;
	font-weight: bold;
	height: 35px;
	width: 130px;
	font-size: 13px;
	border: none;
	display: inline block;
}
.ftbx {
	bottom: 0;
	left: 0;
	position: absolute;
	right: 0;
}
.foot {
	background: #f2f2f2;
	border-top: 1px solid #e4e4e4;
	width: 100%;
	color: #696969;
	font-family: Arial;
	font-size: 13px;
	word-spacing: 30px;
	min-width: 980px;
	padding-bottom: 40px;
}
footer a:link {
	color: #696969;
	text-decoration: none;
}
footer a:visited {
	color: #696969;
}
.left {
	float: left;
}
.right {
	margin-right: 30px;
	float: right;
}